@font-face {
  font-family: "Lemon-Milk";
  src: url(../../../public/Font/lemon_milk/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../../public/Font/roboto/Roboto-Black.ttf);
}

$color-gold: #ffbf00;
$color-white: white;
$font-LM: "Lemon-Milk";
$font-roboto: "Roboto";
$text-entourage-black: 2px 2px 2px black;
